/* Variables */
:root {
    /*цвета для элементов и блоков*/
    --white_color: #FFFFFF;
    --sky_color: #81B3D2;
    --gray_main: #EEEEEE; /*для причин с 3 по 5ю*/
    --light_gray: #F2F2F2;/*для фона взади главной и каталога отелей, для полей ввода, надписи рейтинг*/
    --brown_color: #766357;/*шапка форм, кнопок забронировать*/
    --white_for_footer:  rgba(255, 255, 255, 0.9);
    /*цвета для шрифтов*/
    --special_gray: #CACACA;
    --brown-black_text: #333333;/* for text, description*/ 
    --black: #000000;
    --gray_for_line: #E5E5E5;;
    --gray_for_rating: #666666;
}
/* Global */
body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--light_gray);
    background-position: top center;
    background-repeat: no-repeat;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  /* Main navigation */

.main_navigation {
    font-weight: bold;
    line-height: 26px;
    
  }
  .wrapper_navigation {
    background-color: var(--white_color);
  }
  .list_navigation {
    list-style: none;
  }
  .list_navigation a {
    color: var(--black);
  }
 .main-navigation img {
background-color: var(--sky_color); /*пока не знаю как цвет сделать поформе логотипа*/
 } 
 .list_navigation a:active, 
 .list_navigation a:visited {
   color: var(--brown_color);
 }
 .list_navigation a:hover {
   color: var(--sky_color);
 }

  /*Welcom, name Sedona*/
  .site_header {
    background-image: url("img/background_index.ipg");/*Почему он не прикрепляется ???*/
    background-position: center;
    background-repeat: no-repeat;
  }
  .site_header img {
    
  }

  .sedona_statement {
text-align: center;
font-weight: bold;
font-size: 21px;
line-height: 26px;
background-color: var(--white_color);
  }
   /*хочу подключить белую часть после фона,но не выходит*/
   .sedona_statement::before {
    content: url("img/svg-sedona/intro-mask.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  /* раздел о причинах посетить седону*/
  .best_reasons {
    background-color: var(--white_color); 
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
  }
  .best_reasons h2 { 
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    font-weight: normal;
  } 
.list-reasons {
  list-style: none; 
}
.list-reasons div {
  text-align: center;
}
.list-reasons h3 {
font-weight: bold;
font-size: 21px;
line-height: 21px;
}
.reason1, .reason2 {
  color: var(--white_color);
  background-color: var(--sky_color);
}
 .reason3, .reason4, .reason5  {
  background-color: var(--gray_main);
}
/*раздел о преимуществах*/
.features {
background-color: var(--white_color);
 font-weight: normal;
font-size: 14px;
line-height: 21px;
text-align: center;
}
.list-features {
  list-style: none; 
}
.features h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}
/*здесь попытаюсь вставить иконки, не получается
*/
.feature1::before {
  content: "";
  background-image: url('img/svg-sedona/icon-1.svg');
  color: var(--sky_color);
  width: 75px;
 height: 72px;
}
.feature2::before {
  content: "";
  background-image: url("img/svg-sedona/icon-3.svg");
  width: 75px;
  height: 70px;
}
.feature3::before {
  content: "";
  background-image: url("img/svg-sedona/icon-2.svg");
  width: 64px;
  height: 77px;
}
/*поиск отела и карта*/
.index_search {
  background-color: var(--white_color); 
  text-align: center;
}
.index_search h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}
.form_index_search {
  background-color: var(--white_color);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  margin: auto;
}
.form_index_search  fieldset {
  border:none;
}
.form_index_search legend {
font-weight: bold;
font-size: 21px;
line-height: 26px;
color: var(--white_color);
background-color: var(--brown_color);
width: 568px;
height: 86px;
vertical-align: middle;
}

.form_index_search legend:active {
  background-color: #503E33;
}
.form_index_search legend:hover {
background-color: #604E43;
}
.form_index_search input[type="text"] {
  color: var(--black);
  background-color: var(--light_gray);
  width: 346px;
  height: 38px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase; 
}
/*хочу вставить иконки кадендариков в поля, и не выходит, не знааю как вообще работать с бефо и авте?*/
.form_index_search input[type="text"]::after {
  content:"";
  background-image: url("img/svg-sedona/calendar.svg");
  width: 21px;
  height: 23px;
}
/*как убрать подсветку браузера по умолчанию при фокусе?*/
.form_index_search input[type="text"]:focus{
  background-color: var(--white_color);
  border: 2px solid var(--light_gray);
}
.form_index_search input[type="number"] {
  background-color: var(--light_gray);
  width: 114px;
  height: 38px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}
.form_index_search button[type="submit"] {
  background-color: var(--sky_color);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--white_color);
  width: 458px;
  height: 58px;
  vertical-align: middle;
  text-transform: uppercase;
}
.form_index_search button[type="submit"]:hover {
  background-color: #669EC0;
  mix-blend-mode: normal;
  opacity: 0.3;
}
.form_index_search button[type="submit"]:active {
  background-color: #5496BD;
}
.map {
  width: 1199px;
  height: 473px;
}
/*footer part */
.footer {
  background-color: var(--white_color);
  width: 1200px;
  min-height: 120px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.footer .list_footer {
  list-style: none;
}
.footer a {color: var(--black);}
.list_footer li {
  background-color: var(--sky_color);
  width: 36px;
  height: 36px;
}
.list_footer li:hover {
  background-color: #669EC0;
}
.list_footer li:active {
  background-color: #5496BD;;
}
.footer .htmlacademy {
  font-size: 14px;
  line-height: 26px;
}
.footer img: hover {

}
.footer img: active {

}
/*для скрытых элементов*/
.visually-hidden {
  display: none;
} 

/*catalog inner page*/
/*фильтр цены, шапка сайта*/
/*почему они фоновые картинки не подключаются?*/
.filter {
  background-color: #766357;
  background-image: url("img/background-catalog.jpg");
  color: var(--white_color);
  font-size: 14px;
  line-height: 21px;
  width: 1200px;
  min-height: 217px;
}
.filter fieldset {
border: none;
}
.filter legend {
font-weight: bold;
font-size: 16px;
line-height: 21px;
}
.list_filter_infrastructure, .list_filter_housetipe {
  list-style: none;
}
.price_control p {
  font-weight: bold;
}
.price_control label {
  text-align: center;
}
.price_control input[type="text"] {
  background-color: transparent;
  font-size: 14px;
  line-height: 21px;
  color: var(--white_color);
  border: none;
}
.min-max_price {
  border:2px solid var(--white_color);
}
/*я не знаю как офорлять ползунки на контролере цены*/
.range_price_control button[type="button"] {
  border-radius: 100%;
}
.range_price_control div {

}

.filter button[type="submit"] {
  background-color: transparent;
  color: var(--white_color);
  text-align: center;
  border: 2px solid var(--white_color);
  font-size: 14px;
line-height: 21px;
text-transform: uppercase;
border: 2px solid #FFFFFF;
width: 137px;
height: 36px;
border-radius: 2px;
}
.filter button[type="submit"]:hover {
  background-color: var(--white_color);
  color: var(--black);
}

.catalog_search_line {
  background-color: var(--white_color);
  color: var(--black);
  width: 1200px;
  min-height: 86px;
  border-bottom: 1px solid var(--gray_for_line);
  font-size: 12px;
  line-height: 18px;
}

.catalog_search_line h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.catalog_search_line ul {
  list-style: none;
}
/*не сделала по цене правильно*/
.list_sort a{
  color: var(--black);
  opacity: 0.3;
}
.list_sort a:hover{
  color: var(--sky_color);
  border-bottom: 1px dashed var(--sky_color);
  opacity: 1;
}
.list_sort a:active{
  color: var(--black);
  border-bottom: none;
  opacity: 1;
}

/*это для стрелок прокрутки вверх и вниз, картинки как и во всем документе не вставляются*/
.down_arrow::after {
  content: url("img/svg-sedona/icon-down-dir.svg");
  width: 11px;
  height: 10px;
}
.up_arrow::after {
  content: url("img/svg-sedona/icon-up-dir.svg");
  width: 11px;
  height: 10px;
}
/*здесь не знаю, правильно ли написала наведение и активность*/
.down_arrow::after:active, .up_arrow::after:active {
color: var(--sky_color)
}
.down_arrow::after:hover, .up_arrow::after:hover {
  color: var(--black)
  }


/*каталог отелей*/
.catalog_hotel {
  background-color: var(--white_color);
  border-bottom: 1px solid var(--gray_for_line);
  width: 1200px;
  min-height: 150px;
  font-size: 14px;
  line-height: 21px;
  color: var(--brown-black_text);
}

.catalog_hotel h2:active {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
}
.catalog_hotel h2:hover {
  color: var(--sky_color);
  }
  .catalog_hotel  .name_hotel:active {
  color: var(--black);
  opacity: 0.3;
  }
.catalog_hotel span {
  display: inline-block;
}
/*ссылки -кнопки */
.catalog_hotel a:nth-of-type(1) {
  background-color: var(--sky_color);
  color: var(--white_color);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  width: 110px;
  height: 27px;
}
.catalog_hotel a:nth-of-type(2) {
  background-color: var(--brown_color);
  color: var(--white_color);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  width: 142px;
  height: 27px;
}
/*слово рейтинг и звезды добавлю*/
.catalog_hotel .rating {
  background-color: var(--light_gray);
  color: var(--gray_for_rating);
  text-align: center;
  border: 1px solid var(--light_gray);
  width: 110px;
height: 27px;
}
/*здесь пытаюсь вставить звезды не выходит*/
.amara .star::after {
  content: url("img/svg-sedona/star.svg")
           url("img/svg-sedona/star.svg")
           url("img/svg-sedona/star.svg")
           url("img/svg-sedona/star.svg");
  width: 18px;         
  height: 17px;         
}
.desert .star::after {
  content: url("img/svg-sedona/star.svg")
           url("img/svg-sedona/star.svg")
           url("img/svg-sedona/star.svg");
  width: 18px;         
  height: 17px;         
}
.villas .star::after {
  content:url("img/svg-sedona/star.svg")
          url("img/svg-sedona/star.svg");
  width: 18px;         
  height: 17px;         
}


